.beach{
    position: relative;
    margin-top: -120px;
    margin-left: 20px;
    margin-right: 20px;
}
.beach .text_connect{
    color:white;
}
.select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
