body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  
}
.App {
  text-align: center;
}

/* Пример стилей для экранов шириной менее 768px */
@media (max-width: 768px) {
  .App {
    font-size: 14px; /* Пример изменения размера шрифта */
    padding: 10px; /* Пример изменения внутренних отступов */
  }
}

/* Пример стилей для экранов шириной от 769px до 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .App {
    font-size: 16px; /* Пример изменения размера шрифта */
    padding: 20px; /* Пример изменения внутренних отступов */
  }
}

/* Пример стилей для экранов шириной больше 1024px */
@media (min-width: 1025px) {
  .App {
    font-size: 18px; /* Пример изменения размера шрифта */
    padding: 30px; /* Пример изменения внутренних отступов */
  }
}

